.solution-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.solution-card {
	flex: 0 0 calc(50% - 20px);
	margin-bottom: $margin-lg;
	max-width: 20rem;
	border-radius: $border-radius-lg;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	&:not(:last-child) {
		margin-right: $margin-lg;
	}

	&__image {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	&__content {
		padding: $padding-lg;

		&__title {
			font-family: $body-font-family;
			font-weight: bold;
			font-size: $heading-5-font-size;
			margin-bottom: $margin-base;
		}

		&__description {
			font-family: $heading-font-family;
			color: $body-font-color;
			font-size: $base-font-size;
		}
	}
}
