.solutionForm {
	max-width: 1100px;
	margin: auto;
	font-family: $heading-font-family;

	&__modify {
		position: fixed;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $primary-color;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 40px;
		right: 40px;
		z-index: 999;

		img {
			width: 50%;
			height: auto;
		}
	}

	&__cancel {
		@extend .solutionForm__modify;
		bottom: 90px;
	}

	&__modify:hover {
		cursor: pointer;
	}

	&__notification {
		border-radius: $border-radius-lg;
		border: 1px solid $primary-color;
		background-color: $tertiary-color;
		color: white;
		padding: $padding-base;
		margin: $margin-base;

		button {
			font-size: $base-font-size;
			background-color: $tertiary-color;
			font-family: $heading-font-family;
			text-decoration: underline;
			color: white;
			border: none;
			cursor: pointer;
			padding: 0;
		}

		button:hover {
			color: $secondary-color;
		}
	}

	&__authenticated {
		@extend .solutionForm__notification;
		background-color: $valid-color;
		border-color: $border-valid-color;
		color: rgb(92, 92, 92);

		button {
			color: inherit;
			background-color: inherit;
		}

		button:hover {
			color: $secondary-color;
		}
	}

	&__title {
		display: flex;
		flex-direction: row;
		gap: $margin-base;

		input {
			max-width: 900px;
			width: 80vw;
			border: none;
			border-bottom: 1px solid $title-font-color;
			font-size: inherit;
			font-family: $heading-font-family;
		}

		input:invalid {
			border-bottom: 1px solid red;
		}
	}

	&__description {
		@extend .solutionForm__title;

		input {
			color: $body-font-color;
		}
	}

	&__image-and-map {
		display: flex;
		flex-direction: row;
		gap: $margin-lg;
		justify-content: center;
		margin: $margin-base;
	}

	&__image {
		max-width: 450px;
		height: 300px;
		border-radius: $border-radius-lg;
		object-fit: cover;
	}

	&__details {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			border-bottom: 1px solid $border-color;
			margin-top: $margin-lg;
		}
	}
}

@media screen and (max-width: $breakpoint-md) {
	.solutionForm__image-and-map {
		display: flex;
		flex-direction: column;
	}
}
